* {
    margin: 0;
    padding: 0;
}

/* Navbar */
header {
    padding: 0 50px;
    background-color: rgb(71, 71, 71);
}

.imgNav{
    width: 35%;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-nav{
    font-size: 20px;
    column-gap: 1.5rem;
}

.navbar-nav a {
    color: grey;
}

/* Secciones */
.primera{ 
    position: relative;
}

.imgPrimera{ 
    filter: brightness(0.3);
    width: 100%;
}

.descripcionPrimera{ 
    text-align: end;
    position: absolute;
    top: 40%;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 4rem;
}

.tituloDescripcion, .textoDescripcion{
    color: white;
    max-width: 30%;
}

